@import "variables";

:root {
  font-size: calc(15px + .390625vw);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  color: $bodyColor;
  font-family: $bodyFont;
  background: $backgroundColor;
  overflow: hidden;
}

.site-container {
  display: grid;
  grid-template-columns: 15em 1fr;
  height: 100%;
}

.content {
  height: 100%;
  overflow: hidden;
}