.note-container {
  padding-inline: 1em;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.note-content-container {
  #markdown-toc {
    list-style: none;
    padding: 1em;
    background: #333;
    margin-right: 4em;
    font-size: .77em;
    border-radius: 6px;

    @media screen and (min-width: 500px) {
      float: left;
    }

    &::before {
      content: "Contents";
      padding-block: .2em;
      padding-inline: .6em;
      margin-left: -.6em;
      font-size: 1.2em;
      font-weight: bold;
    }

    &>li:first-child {
      margin-top: .6em;

    }

    ul {
      padding: .5em;
      list-style: circle;
    }
  }
}


.note {
  max-width: 960px;
  margin-inline: auto;

  a {
    color: inherit;
  }
}

table {
  border-collapse: collapse;
  border: 1px solid $clr-zebra;

  thead {
    th {

      background-color: $clr-primary;
      @include padding-box;
    }
  }

  tbody {
    td {
      @include padding-box;
    }

    tr:nth-child(even) {
      background-color: $clr-zebra;
    }
  }
}

// code {
//   background-color: #444;
// }