<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  {% include head.html %}

  <body>
    <div class="site-container" data-site-container>

      {% include header.html %}

      <button data-opener draggable="true">
        <i class="fa fa-chevron-right"></i>
      </button>

      <script>
        const siteContainer = document.querySelector('[data-site-container]')
        const button = document.querySelector('[data-opener]');

        function toggleFunction(e) {
          if (e.target === button) {
            siteContainer.classList.toggle('opened');
          } else {
            siteContainer.classList.remove('opened');
          }

          if (siteContainer.classList.contains('opened')) {
            button.innerHTML = `<i class="fa fa-chevron-left"></i>`
          } else {
            button.innerHTML = `<i class="fa fa-chevron-right"></i>`
          }
        }
        document.addEventListener('click', toggleFunction);

      </script>

      <div class="content">
        {{ content }}
      </div>

    {% comment %} {% include footer.html %} {% endcomment %}
    </div>
  </body>

</html>